.popular-travel-styles-wrapper {
  margin: 10rem 0;

  @media screen and (max-width: 500px) {
    margin: 8rem 0;
  }
}

.popular-travel-styles {
  grid-column: center-start / center-end;
  height: 100%;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5rem;

  @media screen and (max-width: 1080px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 1020px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 500px) {
    grid-column: full-start / full-end;
    margin: 0 2rem;
    padding: 0 0 2rem 0;
  }
}