.popular-travel-styles-container {
  grid-column: center-start / center-end;

  @media screen and (max-width: 500px) {
    grid-column: full-start / full-end;
  }
}


.popular-travel-styles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5rem;

  @media screen and (max-width: 1080px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 1020px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 500px) {
    grid-column: full-start / full-end;
    padding: 0 0 2rem 0;
  }
}