.banner {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);

  &__title {
    font-family: Nexa-Rust-2;
    font-size: 4rem;
    font-weight: 1200;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding: 0 1rem;
    letter-spacing: var(--mainSpacing);
  }

  &__info {
    width: 85%;
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: var(--mainWhite);
    font-weight: 700;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
  }

  &__discount {
    background: var(--orangeRedColor);
    color: var(--mainWhite);
    width: 70%;
    margin: auto;
    padding: 14px;
    border-radius: 25px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1.3px;
  }

  @media screen and (min-width: 768px) {
    width: 95%;

    &__title {
      font-size: 6rem;
    }

    &__info {
      width: 70%;
      font-size: 2.8rem;
    }

    &__discount {
      max-width: 50rem;
      font-size: 3rem;
    }
  }

  @media screen and (min-width: 1026px) {
    &__title {
      font-size: 8rem;
    }
  }
}